main {
  width: fit-content;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

ol {
  padding: 0;
}

li {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}

output {
  min-width: 3ch;
  text-align: right;
}

input[type="number"] {
  text-align: right;
}
